<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="boostrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="boostrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/menu.js"></script>
    <script src="js/danhmuc.js"></script>
    <script src="js/room.js"></script>
    <script>
        window.onload = function(){
            loadMenu();
            loadDanhMucBenPhai();
            phongTrangChu(0);
            phongMoiDang();
        }
    </script>
</head>
<body>
    <div id="mainmenu"></div>

    <div class="contentpage">

        <div class="container danhsachtindang">
            <div class="row">
                <div class="col-sm-8">
                    <div class="noidungdsphong">
                        <h5>Danh sách tin đăng</h5>
                        <div id="danhsachcacphong" class="danhsachphongindex">
                            <div class="singleroom row">
                                <div class="col-sm-3 divanhphong">
                                    <img src="image/phong.jpg" class="anhroom">
                                </div>
                                <div class="col-sm-9">
                                    <a href="" class="tenphongindex">BẠN YÊU CÁI ĐẸP - THÍCH SỰ TỰ DO ĐẢ CÓ DATAHOME 
                                        L.O! GIẢM 1.500.000 THÁNG…</a>
                                    <div class="thongtinct">
                                        <p class="giatientro">3.9 triệu/tháng</p>
                                        <p class="dientichtro">20m²</p>
                                        <p class="diachitro">Quận Gò Vấp, Hồ Chí Minh</p>
                                        <p class="thoigiandangtro">Hôm nay</p>
                                    </div>
                                    <p class="motatro">GIẢM 1.500.000 Tiền Phòng ThÁNG ĐẦUƯu ĐÃI ÁP Đến Hết Ngày 15/7 
                                        Hổ Trợ Cọc Giử Phòng Đến 15/7 ĐC : 234/55 LÊ ĐỨC THỌ PHƯỜNG 6 GÒ Vấp .- Giá…</p>
                                    <div class="thongtinnguoidang">
                                        <img src="image/user.png" class="nguoidang">
                                        <p>Phạm thị minh thư</p>
                                        <p><a href="tel:0923643234" class="btngoi">Gọi 0923643234</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="listpage">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-4" id="danhmucphai">
                    <div class="noidungdsphong">
                        <h5>Danh mục cho thuê</h5>
                        <div class="listcategory" id="danhmucsoluong">
                            <div class="singledm">
                                <a href="">> Cho thuê phòng trọ</a><span>(2102)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="footer-wrapper" id="footer"></div>


    
    <div id="textoke"></div>
</body>
</html>